{% extends "base.html" %}

{% block content %}
<title>Simple tables</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

<div class=container>
    <div class="row">
        <div class="col-6 col-md-4"><h1><img src="{{url_for('static', filename='boy1.jpg')}}"alt="user1" width="100" height="100" class="d-inline-block align-text-top" ></h1>
            <h1> Never Gonna Let You Down</h1><p>5-2-0 | 5th of 6 | Randy Le</p>
            <p> <a href="{{ url_for('html_table_user1') }}">Profile</a></p></div> 
        <div class="col-6 col-md-4">
   <h1 class="text-center">VS</h1>
                <p class="text-center">
                  Week 8
                </p>
      </div>
      <div class="col-6 col-md-4"><h1><img src="{{url_for('static', filename='girl1.jpg')}}"alt="user2" width="100" height="100" class="d-inline-block align-text-top"></h1>
        <h1> Never Gonna Give You Up</h1><p>4-3-0 | 3rd of 6 | Sandy He</a></p>
      <p> <a href="{{ url_for('html_table_user2') }}">Profile</a></p></div> 
    </div>
      <div class="row">
      <div class="col-md-auto">
  <h1>Matchup</h1>
  {% for table in tables %}
    {{ table|safe }}
  {% endfor %}
</div></div>
</div>
{% endblock %}
